In [5]:
from google.colab import drive
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# **Set up**

In [6]:
drive.mount('/gdrive')
%cd /gdrive

Mounted at /gdrive
/gdrive

## **Mounting drive**

## **Mounting drive - Hadrien**

In [7]:
%cd MyDrive/Relational_Databases/Project - Group 15/Modelling/Datasets

/gdrive/MyDrive/Relational_Databases/Project - Group 15/Modelling/Datasets

## **Loading the files in dataframes**

In [38]:
airlines_df = pd.read_csv('originals/airlines.csv', sep='\t')
aircrafts_df = pd.read_csv('originals/aircrafts.csv', sep='\t')
hotels_df = pd.read_csv('originals/hotels.csv', sep='\t')
airports_df = pd.read_csv('originals/airports.csv',sep='\t')
customers_df = pd.read_csv('originals/customers.csv', sep='\t')
flight_bookings_df = pd.read_csv('originals/flight_bookings.csv', sep='\t')
hotel_bookings_df = pd.read_csv('originals/hotel_bookings.csv', sep='\t')

# **Data exploration**

## **Airlines**

**Table overview**

In [26]:
airlines_df.head(10)

,airline_id,airline_name,country,airline_iata,airline_icao,alias
0,3,1Time Airline,South Africa,1T,RNX,NaN
1,10,40-Mile Air,United States,Q5,MLA,NaN
2,13,Ansett Australia,Australia,AN,AAA,NaN
3,14,Abacus International,Singapore,1B,NaN,NaN
4,21,Aigle Azur,France,ZI,AAF,NaN
5,22,Aloha Airlines,United States,AQ,AAH,NaN
6,24,American Airlines,United States,AA,AAL,NaN
7,28,Asiana Airlines,Republic of Korea,OZ,AAR,NaN
8,29,Askari Aviation,Pakistan,4K,AAS,NaN
9,32,Afriqiyah Airways,Libya,8U,AAW,NaN

**Data types of the table**

In [ ]:
airlines_df.dtypes

airline_id       int64
airline_name    object
country         object
airline_iata    object
airline_icao    object
alias           object
dtype: object

In [27]:
%cp originals/airlines.csv cleaned

## **Aircrafts**

**Table overview**

In [54]:
aircrafts_df.head(10)

                                  aircraft_name aircraft_iata aircraft_icao
0                       Aerospatiale (Nord) 262           ND2          N262
1  Aerospatiale (Sud Aviation) Se.210 Caravelle           CRV          S210
2                  Aerospatiale SN.601 Corvette           NDC          S601
3                Aerospatiale/Alenia ATR 42-300           AT4          AT43
4                Aerospatiale/Alenia ATR 42-500           AT5          AT45
5                Aerospatiale/Alenia ATR 42-600           ATR          AT46
6                    Aerospatiale/Alenia ATR 72           AT7          AT72
7                                   Airbus A300           AB3          A30B
8                               Airbus A300-600           AB6          A306
9  Airbus A300-600ST Super Transporter / Beluga           ABB          A3ST

**Data types of the table**

In [55]:
aircrafts_df.dtypes

aircraft_name    object
aircraft_iata    object
aircraft_icao    object
dtype: object

**Addition of the id column to aircraft**

In [56]:
aircrafts_df['aircraft_id'] = aircrafts_df.index
aircrafts_df

,aircraft_name,aircraft_iata,aircraft_icao,aircraft_id
0,Aerospatiale (Nord) 262,ND2,N262,0
1,Aerospatiale (Sud Aviation) Se.210 Caravelle,CRV,S210,1
2,Aerospatiale SN.601 Corvette,NDC,S601,2
3,Aerospatiale/Alenia ATR 42-300,AT4,AT43,3
4,Aerospatiale/Alenia ATR 42-500,AT5,AT45,4
...,...,...,...,...
241,Tupolev Tu-144,NaN,T144,241
242,Tupolev Tu-154,TU5,T154,242
243,Tupolev Tu-204,T20,T204,243
244,Yakovlev Yak-40,YK4,YK40,244
245,Yakovlev Yak-42,YK2,YK42,245

**Export corrected dataset**

In [31]:
aircrafts_df.to_csv('cleaned/aircrafts.csv', index=False, sep='\t')

## **Hotels**

**Table overview**

In [32]:
hotels_df.head(10)

,hotel_id,hotel_name,hotel_address,city,country,hotel_score
0,0,Hotel Arena,"'55, ''s-Gravesandestraat, Oosterparkbuurt, Am...",Amsterdam,Netherlands,7.7
1,1,K K Hotel George,"'Amsterdam Hotel London, 7, Trebovir Road, Ear...",London,United Kingdom,8.5
2,2,Apex Temple Court Hotel,"162, Fleet Street, Temple, City of London, Gre...",London,United Kingdom,9.2
3,3,The Park Grand London Paddington,"'Park Grand London Paddington, 1, Queen''s Gar...",London,United Kingdom,7.7
4,4,Monhotel Lounge SPA,"'3, Rue d''Argentine, Quartier de Chaillot, 16...",Paris,France,8.4
5,5,Kube Hotel Ice Bar,"'Kube Hotel, 5, Passage Ruelle, Quartier de la...",Paris,France,7.2
6,6,The Principal London,"Kimpton Fitzroy London Hotel, Russell Square, ...",London,United Kingdom,8.0
7,7,Park Plaza County Hall London,"Park Plaza, 1, Addington Street, Lambeth, Lond...",London,United Kingdom,8.4
8,8,One Aldwych,"One Aldwych, 1, Aldwych, St Clement Danes, Cov...",London,United Kingdom,9.2
9,9,Splendid Etoile,"1, Avenue Carnot, Quartier des Ternes, 17th Ar...",Paris,France,8.9

**Data types of the table**

In [33]:
hotels_df.dtypes

hotel_id           int64
hotel_name        object
hotel_address     object
city              object
country           object
hotel_score      float64
dtype: object

In [34]:
%cp originals/hotels.csv cleaned

## **Airports**

**Table overview**

In [ ]:
airports_df.head(10)

,airport_id,airport_name,city,country,airport_iata,airport_icao,latitude,longitude
0,1,Goroka Airport,Goroka,Papua New Guinea,GKA,AYGA,-6.081690,145.391998
1,2,Madang Airport,Madang,Papua New Guinea,MAG,AYMD,-5.207080,145.789001
2,3,Mount Hagen Kagamuga Airport,Mount Hagen,Papua New Guinea,HGU,AYMH,-5.826790,144.296005
3,4,Nadzab Airport,Nadzab,Papua New Guinea,LAE,AYNZ,-6.569803,146.725977
4,5,Port Moresby Jacksons International Airport,Port Moresby,Papua New Guinea,POM,AYPY,-9.443380,147.220001
5,6,Wewak International Airport,Wewak,Papua New Guinea,WWK,AYWK,-3.583830,143.669006
6,7,Narsarsuaq Airport,Narssarssuaq,Greenland,UAK,BGBW,61.160500,-45.425999
7,8,Godthaab / Nuuk Airport,Godthaab,Greenland,GOH,BGGH,64.190903,-51.678101
8,9,Kangerlussuaq Airport,Sondrestrom,Greenland,SFJ,BGSF,67.012222,-50.711603
9,10,Thule Air Base,Thule,Greenland,THU,BGTL,76.531197,-68.703201

**Data types of the table**

In [ ]:
airports_df.dtypes

airport_id        int64
airport_name     object
city             object
country          object
airport_iata     object
airport_icao     object
latitude        float64
longitude       float64
dtype: object

## **Customers**

**Table overview**

In [9]:
customers_df.head(10)

,customer_id,customer_first_name,customer_family_name,customer_gender,customer_birth_date,customer_country,customer_phone_number
0,7529424,Tatiana,REZE,F,19/12/1976,Nigeria,2348118052430
1,5688420,Soizic,FOUILLET,F,22/09/1976,Tunisia,21636540047
2,7549035,Maude,SUPIOT,F,01/09/1980,Italy,395040038978
3,4119351,Gilles,GENDRY,F,07/06/1989,Turkey,908616296054
4,1297594,Gwenaelle,POMMIER,F,19/11/1983,Austria,439333168480
5,9265259,Jean-Patrice,CAILLET,M,17/01/1990,Argentina,544242909748
6,2531752,Christel,GOULET,M,04/08/1981,Morocco,212822671423
7,3185905,Marie-Annick,DIARD,F,17/11/1989,Morocco,212621463806
8,2445019,Annaïck,FRESNAIS,F,14/09/1975,Netherlands,31179894436
9,6719254,Pierre-Edouard,LEAU,M,03/05/1986,Colombia,5704043651

**Data types of the table**

In [ ]:
customers_df.dtypes

customer_id               int64
customer_first_name      object
customer_family_name     object
customer_gender          object
customer_birth_date      object
customer_country         object
customer_phone_number     int64
dtype: object

**Update of column names**

In [35]:
customers_df.rename(columns={column: column.split('customer_')[-1] for column in customers_df.columns[1:]}, inplace=True)
customers_df

,customer_id,first_name,family_name,gender,birth_date,country,phone_number
0,7529424,Tatiana,REZE,F,19/12/1976,Nigeria,2348118052430
1,5688420,Soizic,FOUILLET,F,22/09/1976,Tunisia,21636540047
2,7549035,Maude,SUPIOT,F,01/09/1980,Italy,395040038978
3,4119351,Gilles,GENDRY,F,07/06/1989,Turkey,908616296054
4,1297594,Gwenaelle,POMMIER,F,19/11/1983,Austria,439333168480
...,...,...,...,...,...,...,...
995,314483,Maureen,LENOIR,F,09/10/1978,China,865860747021
996,5641192,Sylvaine,TRICOIRE,F,18/01/1982,India,916247374201
997,8091557,Jean-Edouard,LANGE,M,23/09/1985,Norway,4744765914
998,6991796,Khadija,EDOUARD,F,15/04/1979,Morocco,212733713755
999,4075623,Marceline,CHARTON,F,09/06/1981,Mexico,521109016001

### **Export of corrected file**

In [36]:
customers_df.to_csv('cleaned/customers.csv', sep='\t', index=False)

## **Hotel bookings**

**Table overview**

In [ ]:
hotel_bookings_df.head(10)

,trip_id,customer_id,hotel_id,check_in_date,check_out_date,price,breakfast_included
0,1,7529424,1439,08/06/2016,05/07/2016,3240,True
1,30,2531752,912,08/11/2016,26/11/2016,2160,True
2,40,2445019,35,13/12/2018,01/01/2019,2280,True
3,65,2134022,716,29/09/2018,19/10/2018,2400,True
4,76,949994,1090,29/12/2018,12/01/2019,1680,True
5,108,3478960,1230,01/12/2018,30/12/2018,3480,False
6,137,6094686,938,20/06/2017,06/07/2017,1440,True
7,162,7013174,1216,11/11/2018,23/11/2018,1080,False
8,187,9071178,829,15/06/2018,08/07/2018,2760,False
9,188,9071178,829,04/10/2018,13/10/2018,1080,True

**Data types of the table**

In [ ]:
hotel_bookings_df.dtypes

trip_id                int64
customer_id            int64
hotel_id               int64
check_in_date         object
check_out_date        object
price                  int64
breakfast_included      bool
dtype: object

### **Cleaning the data set**

In [37]:
## Adding an id column
hotel_bookings_df['hotel_booking_id'] = hotel_bookings_df.index
## Keeping the relevant columns
hotel_bookings_df = hotel_bookings_df[['hotel_booking_id', 'trip_id', 'hotel_id',
                   'price', 'breakfast_included', 'check_in_date',
                   'check_out_date']]

hotel_bookings_df.to_csv('cleaned/hotel_bookings.csv', index=False, sep='\t')

## **Trips**

In [39]:
trips_df = hotel_bookings_df[['trip_id', 'customer_id']]

trips_df

     trip_id  customer_id
0          1      7529424
1         30      2531752
2         40      2445019
3         65      2134022
4         76       949994
..       ...          ...
212     3952      9223879
213     3997      6605808
214     4041      6673798
215     4042      6673798
216     4085      8091557

[217 rows x 2 columns]

### **Export of Trips tables**

In [40]:
trips_df.to_csv('cleaned/trips.csv', sep='\t', index=False)

## **Flight bookings**

**Table overview**

In [41]:
flight_bookings_df.head(10)

,trip_id,customer_id,flight_number,airline_id,aircraft,airport_src,airport_dst,departure_time,departure_date,flight_duration,travel_class,seat_number,price
0,0,7529424,ME1045,3490,332,270,2177,10:45,08/06/2010,05:02,business,27D,728
1,0,7529424,ME0715,3490,332,2177,270,07:15,17/06/2010,05:02,business,42A,728
2,1,7529424,KL1800,3090,330,273,580,18:00,08/06/2016,06:49,economy,8G,457
3,1,7529424,KL1915,3090,330,580,273,19:15,05/07/2016,06:49,business,36C,857
4,2,7529424,AZ0745,596,330,273,1555,07:45,11/01/2018,05:29,business,22A,761
5,2,7529424,AZ0745,596,330,1555,273,07:45,03/02/2018,05:29,economy,2A,361
6,3,7529424,W31500,20976,332,273,813,15:00,17/02/2018,06:07,economy,2I,407
7,3,7529424,W31015,20976,332,813,273,10:15,05/03/2018,06:07,business,32E,807
8,4,7529424,W30830,20976,73G,273,245,08:30,01/04/2018,00:37,business,36H,409
9,4,7529424,W31730,20976,73G,245,273,17:30,16/04/2018,00:37,business,33B,409

**Data types of the table**

In [42]:
flight_bookings_df.dtypes

trip_id             int64
customer_id         int64
flight_number      object
airline_id          int64
aircraft           object
airport_src         int64
airport_dst         int64
departure_time     object
departure_date     object
flight_duration    object
travel_class       object
seat_number        object
price               int64
dtype: object

### **Cleaning**

In [44]:
## Sorting columns by flight number and then date
flight_bookings_df.sort_values('flight_number', inplace=True)
flight_bookings_df.sort_values('departure_date', inplace=True)
## Creating an aggregate column with flight number and departure date (unique combination)
flight_bookings_df['flight_id'] = flight_bookings_df['flight_number'] +  flight_bookings_df['departure_date']
## Creating a dictionary of ids for every unique combination
id_map = {id_: i for i, id_ in enumerate(list(set(flight_bookings_df['flight_id'])))}
## Replacing the aggregate value by the id created for each unique combination
flight_bookings_df['flight_id'] = flight_bookings_df['flight_id'].map(lambda x: id_map[x])

flight_bookings_df

,trip_id,customer_id,flight_number,airline_id,aircraft,airport_src,airport_dst,departure_time,departure_date,flight_duration,travel_class,seat_number,price,flight_id
3232,1616,1013129,LH1645,3320,320,345,507,16:45,01/01/2014,01:07,business,16F,445,2320
6945,3472,6371628,FR0845,4296,738,1280,699,08:45,01/01/2014,03:08,business,18C,590,7890
4277,2138,3079960,US1015,5265,738,3867,3830,10:15,01/01/2016,03:56,economy,9F,249,4173
3852,1926,3153786,AY1030,2350,ATR,429,421,10:30,01/01/2017,00:56,economy,5H,32,7972
1753,876,4303099,PD1930,4021,DH4,144,121,19:30,01/01/2017,01:39,business,26I,483,3944
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5032,2516,7197520,AR1045,412,737,2456,2442,10:45,31/12/2018,01:40,economy,7D,84,3392
1258,629,7049370,FR2130,4296,738,1075,1376,21:30,31/12/2018,02:52,economy,6F,172,206
6286,3143,1141389,SC1930,4599,738,3390,6392,19:30,31/12/2018,01:39,economy,5G,83,443
3002,1501,1667122,FR1415,4296,738,1515,3956,14:15,31/12/2018,03:05,business,20B,587,156
1692,846,148285,NH1000,324,735,2279,2347,10:00,31/12/2018,00:50,business,39E,424,316

Check that the amount of flight ids that were created match the amount of flights

In [ ]:
len(id_map) == len(set(flight_bookings_df['flight_id']))

True

### **Addition of flight_booking_id**

Check that every entry in the bookings is unique.

In [ ]:
## Checking if every lign in the dataframe has a unique combination of flight_id and trip_id
len(list(set(flight_bookings_df['flight_id'].astype(str) + flight_bookings_df['trip_id'].astype(str)))) == len(flight_bookings_df['flight_id'])

True

Using the index of the table to create the flight_booking_id

In [45]:
flight_bookings_df.reset_index(inplace=True)
flight_bookings_df['flight_booking_id'] = flight_bookings_df.index
flight_bookings_df.set_index('index', inplace=True)

In [46]:
flight_bookings_df = flight_bookings_df.sort_values('index').reset_index().drop('index', axis=1)

In [47]:
flight_bookings_df

,trip_id,customer_id,flight_number,airline_id,aircraft,airport_src,airport_dst,departure_time,departure_date,flight_duration,travel_class,seat_number,price,flight_id,flight_booking_id
0,0,7529424,ME1045,3490,332,270,2177,10:45,08/06/2010,05:02,business,27D,728,4466,1829
1,0,7529424,ME0715,3490,332,2177,270,07:15,17/06/2010,05:02,business,42A,728,6762,4225
2,1,7529424,KL1800,3090,330,273,580,18:00,08/06/2016,06:49,economy,8G,457,1726,1842
3,1,7529424,KL1915,3090,330,580,273,19:15,05/07/2016,06:49,business,36C,857,6632,1117
4,2,7529424,AZ0745,596,330,273,1555,07:45,11/01/2018,05:29,business,22A,761,4980,2538
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8185,4092,4075623,Y41530,5325,320,3484,1824,15:30,27/06/2018,03:36,economy,6I,225,5845,6947
8186,4093,4075623,Y40830,5325,320,1804,1847,08:30,13/07/2018,02:52,business,20G,571,6637,3175
8187,4093,4075623,Y41715,5325,319,1847,1804,17:15,24/07/2018,02:52,economy,5D,171,5846,6172
8188,4094,4075623,4O0645,17885,320,1824,1800,06:45,20/11/2018,02:05,business,14B,514,2465,5169
8189,4094,4075623,4O0630,17885,320,1800,1824,06:30,06/12/2018,02:05,economy,7G,114,1285,1484

**Export of correct flight_bookings_table**

In [49]:
## Trimming irrelevant columns
flight_bookings_trimmed_df = flight_bookings_df[['flight_booking_id', 'flight_id', 'trip_id',
                                                 'seat_number', 'price', 'travel_class']]
## Renaming seat_number to seat
flight_bookings_trimmed_df = flight_bookings_trimmed_df.rename(columns={'seat_number': 'seat'})
##
flight_bookings_trimmed_df.to_csv('cleaned/flight_bookings.csv', sep='\t', index=False)

## **Flights**

**Selecting the correct columns for the flights table.**

In [72]:
flights_df = flight_bookings_df[['flight_id', 'flight_number', 'flight_duration',
                                 'departure_time', 'departure_date', 'aircraft',
                                 'airline_id', 'airport_src', 'airport_dst']]

**Adding the aircraft_id column to flights**

In [73]:
## Adding the aicraft_id to the flights df
flights_df = flights_df.merge(aircrafts_df[['aircraft_id', 'aircraft_iata']],
                 how='inner',
                 left_on='aircraft',
                 right_on='aircraft_iata')

flights_df

,flight_id,flight_number,flight_duration,departure_time,departure_date,aircraft,airline_id,airport_src,airport_dst,aircraft_id,aircraft_iata
0,4466,ME1045,05:02,10:45,08/06/2010,332,3490,270,2177,19,332
1,6762,ME0715,05:02,07:15,17/06/2010,332,3490,2177,270,19,332
2,219,W31500,06:07,15:00,17/02/2018,332,20976,273,813,19,332
3,7853,W31015,06:07,10:15,05/03/2018,332,20976,813,273,19,332
4,7612,WY1915,07:26,19:15,20/12/2018,332,3778,1382,2194,19,332
...,...,...,...,...,...,...,...,...,...,...,...
8199,5246,Q91730,00:35,17:30,04/06/2017,PAG,11838,7255,106,228,PAG
8200,6842,7H1530,00:37,15:30,04/12/2014,PAG,16726,3615,7188,228,PAG
8201,4580,TG1545,05:40,15:45,30/10/2018,380,4940,3992,3885,32,380
8202,4473,TG1115,05:40,11:15,22/11/2018,380,4940,3885,3992,32,380
8203,789,8E1045,00:37,10:45,23/11/2014,PA2,1472,7188,3615,226,PA2

**Dropping the aircraft and aircraft_iata columns**

In [63]:
flights_df = flights_df.drop(['aircraft_iata', 'aircraft'], axis=1)

,flight_id,flight_number,flight_duration,departure_time,departure_date,airline_id,airport_src,airport_dst,aircraft_id
0,4466,ME1045,05:02,10:45,08/06/2010,3490,270,2177,19
1,6762,ME0715,05:02,07:15,17/06/2010,3490,2177,270,19
2,1726,KL1800,06:49,18:00,08/06/2016,3090,273,580,18
3,6632,KL1915,06:49,19:15,05/07/2016,3090,580,273,18
4,4980,AZ0745,05:29,07:45,11/01/2018,596,273,1555,18
...,...,...,...,...,...,...,...,...,...
8199,5845,Y41530,03:36,15:30,27/06/2018,5325,3484,1824,14
8200,6637,Y40830,02:52,08:30,13/07/2018,5325,1804,1847,14
8201,5846,Y41715,02:52,17:15,24/07/2018,5325,1847,1804,12
8202,2465,4O0645,02:05,06:45,20/11/2018,17885,1824,1800,14
8203,1285,4O0630,02:05,06:30,06/12/2018,17885,1800,1824,14

**Exporting the corrected flights into a CSV**

In [65]:
flights_df.to_csv('cleaned/flights.csv', sep='\t', index=False)